# Series

- pandas에서 사용하는 1차원 배열.
- index를 사용할 수 있습니다.

In [2]:
import pandas as pd
import numpy as np

In [6]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [7]:
s = pd.Series(arr)
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [10]:
s = pd.Series(arr, dtype = 'float32')
print(s)

0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
5    105.0
6    106.0
7    107.0
8    108.0
9    109.0
dtype: float32

In [11]:
s = pd.Series(['kim', 'lee', 'park'])
print(s)

0     kim
1     lee
2    park
dtype: object

In [15]:
# string이 있는 경우 더 string이 더 넓은 범위이기 때문에 string으로 바뀌며 object는 string이랑 같은 말이다
# 다만 하나씩 indexing을 해보면 원래의 데이터 타입이 나온다
s = pd.Series([1,2,3,'1','2','3','hello'])
print(s)

0        1
1        2
2        3
3        1
4        2
5        3
6    hello
dtype: object

In [17]:
s[6]

'hello'

In [19]:
# Series는 음수 인덱싱이 불가능 하다
s[-1]

KeyError: -1

In [20]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [25]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c'])
# 기존에 하던 숫자로도 indexing이 가능함
print(names[0])
print(names['a'])

kim
kim

/var/folders/fm/83s882x53rvddsxwgwzxcgdm0000gn/T/ipykernel_33436/2411274774.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(names[0])

In [26]:
names.index

Index(['a', 'b', 'c'], dtype='object')

In [27]:
names.iloc[0]

'kim'

In [28]:
names.values

array(['kim', 'lee', 'park'], dtype=object)

In [29]:
names.ndim

1

In [30]:
names.shape

(3,)

## NaN(Not a Number)

In [31]:
s = pd.Series([1,2,3, np.nan])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

## fancy indexing

In [32]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [34]:
s[['d', 'a']]

d       NaN
a    banana
dtype: object

In [36]:
s[[3,1]]
s.iloc[[3,1]]

/var/folders/fm/83s882x53rvddsxwgwzxcgdm0000gn/T/ipykernel_33436/1972515591.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[3,1]]

d      NaN
b    apple
dtype: object

## bool indexing

In [37]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [38]:
s[[True, False, True, False]]

a    banana
c     grape
dtype: object

In [39]:
s == 'banana'

a     True
b    False
c    False
d    False
dtype: bool

In [40]:
s[s == 'banana']

a    banana
dtype: object

In [42]:
s = pd.Series([1, 2, 3, 4, 5 ,6])
s[s > 3]

3    4
4    5
5    6
dtype: int64

## 결측치(NaN) 처리

In [44]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [45]:
s.isnull()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [46]:
s[s.isnull()]

2   NaN
5   NaN
dtype: float64

In [47]:
s[s.notnull()]

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

In [48]:
s.isna()

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [49]:
s.notna()

0     True
1     True
2    False
3     True
4     True
5    False
dtype: bool

## Slicing

In [51]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [56]:
s = pd.Series([1,2,3], index = list('abc'))
print(s[1:2])
print(s['a':'b']) # 글자로 indexing 하는 경우 포함을 해버린다

b    2
dtype: int64
a    1
b    2
dtype: int64

# DataFrame
- 2차원 데이터 구조(execel, sheet 와 유사)
- 행(row), 열(column)구조

In [58]:
d = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
d = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
], columns = ['가', '나', '다'])

d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [64]:
# 데이터의 길이가 안맞는 경우 맞는데까지만 dataframe으로 만들고 나머지는 나타나지 않는다
info = {
    'name' : ['kim','lee', 'park'],
    'age' : [10,20,30]
}

In [65]:
info_df = pd.DataFrame(info)

In [66]:
info_df.index

RangeIndex(start=0, stop=3, step=1)

In [67]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [68]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [69]:
info_df.dtypes

name    object
age      int64
dtype: object

In [70]:
info_df.T

        0    1     2
name  kim  lee  park
age    10   20    30

In [72]:
info_df

   name  age
0   kim   10
1   lee   20
2  park   30

## index 지정

In [74]:
info_df.index = list('abc')

In [75]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

## column 다루기

In [77]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [80]:
print(info_df['name'])
print(type(info_df['name']))

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [82]:
# fancy indexing이랑 같음
info_df[['age','name']]

   age  name
a   10   kim
b   20   lee
c   30  park

In [86]:
info_df = info_df.rename(columns = {'name':'이름'})

In [87]:
info_df

     이름  age
a   kim   10
b   lee   20
c  park   30

In [89]:
info_df.rename(columns = {'이름':'last_name'}, inplace = True)

In [90]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30